version: 3.16.{build}

image:
- Visual Studio 2022

init:
  # Gather some basic build environment details.
  - set
  - dir

environment:
  matrix:
    - PYTHONDIR: C:\Python38-x64
    - PYTHONDIR: C:\Python39-x64
    - PYTHONDIR: C:\Python310-x64

install:
  - if %PYTHONDIR:-x64=%==%PYTHONDIR% (set ARCH=x86) else set ARCH=x64
  - set PATH=%PYTHONDIR%;%PYTHONDIR%\scripts;C:\Program Files (x86)\Inno Setup 6;%PATH%
  - python -m pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install cx_Freeze
  - pip install git+https://github.com/OpenNingia/l5rcm-data-access.git@master

build_script:
  - pip install --no-deps .\l5r

after_build:
  - mkdir tools\deploy\windows\dist
  - python cxfreeze.py build
  - cd tools\deploy\windows\
  - deploy_common.bat
  - dir common
  - dir dist
  - ISCC setup_appveyor.iss

artifacts:
  - path: tools\deploy\windows\Output\l5rcm-setup.exe

# fetch repository as zip archive
shallow_clone: true
