Source: l5rcm
Section: misc
Priority: optional
Maintainer: Daniele Simonetti <oppifjellet@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python (>= 3.6~)
Standards-Version: 3.15.1
Homepage: https://l5rcm.wordpress.com/
Package: l5rcm
Architecture: all
Installed-Size: 10000
Version: 3.15.1-1
Depends: python3, python3-venv, libxcb-xinerama0, pdfkt-java
Description: L5R 4th Edition Character Manager
 L5R: CM is a Character manager for
 "Legend of the Five Rings RPG" 4th Edition
 More information on L5R RPG can be found on http://www.l5r.com/rpg/
